.thumb-images {
  display: block;
  height: 70px;
  width: 50px;
  margin-left: 30px;
  margin-top: 10px;
}

.images-box {
  margin-left: -75px;
  border-radius: 2px;
  padding-top: 10px;
  background: white;
  width: 400px;
  position: absolute;
  height: 300px;
  overflow-y: scroll;
  border: 1px solid rgb(38, 179, 64);
  box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.8);
}

hr {
  margin-top: 10px;
  height: 1px;
  padding: 0;
  background-color: rgb(38, 179, 64);
}
