.landing-section {
  display: grid;
  grid-template-columns: 60% auto;
}

.landing-image {
  margin-top: 0;
  margin-left: -3%;
  width: 100%;
  border-width: 60px;
  filter: drop-shadow(9px 9px 9px rgb(0, 0, 0, 0.8));
}

.description {
  padding-left: 15%;
  margin-top: 40%;
  color: rgb(38, 179, 64);
  font-size: 20px;
  text-shadow: 1px 1px 0px rgb(0, 0, 0, 0.8);
}
