.app {
  background: rgb(241,242,244);
  height: 100vh;
  font-family: 'ZCOOL QingKe HuangYou';
}

.heading {
  margin-top: 0;
  margin-left: 5px;
  color: rgb(38, 179, 64);
  text-shadow: 1px 1px 0px rgb(0, 0, 0, 0.7);
}

.links {
  text-decoration: none;
}

.heading-navigation {
  display: grid;
  grid-template-columns: auto auto;
  background-color: rgb(241,242,244);
  height: auto;
  padding-top: 10px;
}

.bottom-nav-line {
  padding: 0;
  margin: 0;
  height: 2px;
  background-color: rgb(38, 179, 64);
  border: none;
}
