.navigation-search-auth {
    display: grid;
    grid-template-columns: auto auto auto auto;   
}

.navigation-search-nonauth {
    display: grid;
    grid-template-columns: auto auto auto;   
}

.links {
    color: rgb(38, 179, 64);
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

ul {
    list-style-type: none; 
}