.search-input {
  height: 30px;
  width: 200px;
  border-radius: 2px;
  margin: 0px 5px 0px 5px;
  padding: 0px 5px 0px 5px;
  border: none;
  background-color: white;
  color: rgb(102, 176, 115);
  border: 1px solid rgb(38, 179, 64);
  transition: 0.5s;
  font-family: 'ZCOOL QingKe HuangYou';
}

.search-input:focus {
  background-color: rgb(193, 255, 193);
  outline: none;
  transition: 0.5s;
  box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.8);
}

.search-button {
  height: 30px;
  border-radius: 2px;
  border: 1px solid rgb(38, 179, 64);
  color: rgb(38, 179, 64);
  background-color: white;
  font-size: 16px;
  transition: 0.5s;
  font-family: 'ZCOOL QingKe HuangYou';
}

.search-button:focus {
  outline: none;
}

.search-button:hover {
  background-color: rgb(193, 255, 193);
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.8);
}
