@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'ZCOOL QingKe HuangYou';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
